.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 20%;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.4rem;
}

.heading {
  padding-bottom: 2rem;
}

#remove-button {
  background: dodgerblue;
  border: none;
}

.button-blue {
  background-color: dodgerblue;
}

.button-yellow {
  background-color: #f8ce45;
}

.button-pink {
  background-color: deeppink;
}

.sub {
  font-weight: 500;
  font-family: sans-serif;
}

#loader {
  display: none;
}

.rotate {
  animation: rotation 8s infinite linear;
  fill: red;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.upload-button {
  display: flex;
  width: 80%;
  height: 3rem;
  background: dodgerblue;
  border: none;
}

.upload-button-container {
  display: flex;
  min-width: max-content;
}
